{
	"extends": ["airbnb", "airbnb-typescript", "prettier"],
	"plugins": ["prettier"],
	"env": {
		"jest": true,
		"node": true,
		"browser": true,
		"es2021": true
	},
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"globals": {
		"document": true,
		"window": true
	},
	"rules": {
		// =========================
		// --> turn the rule off <--
		// =========================
		"react/react-in-jsx-scope": 0, // React 17+ provide support for a new version of the JSX transform
		"react/require-default-props": 0, // defaultProps => object default values
		"import/prefer-default-export": 0,
		"react/jsx-no-useless-fragment": 0,
		"no-param-reassign": 0, // redux toolkit - linting state mutations
		"react/no-danger": 0,
		// =====================================
		// --> turn the rule on as a warning <--
		// =====================================
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".ts", ".tsx"]
			}
		],
		// ====================================
		// --> turn the rule on as an error <--
		// ====================================

		"react/function-component-definition": [
			2,
			{
				"namedComponents": "arrow-function"
			}
		], // This rule is aimed to enforce consistent function types for function components.
		"prettier/prettier": [
			2,
			{
				"endOfLine": "auto"
			}
		],
		"react/no-unstable-nested-components": [
			2,
			{
				"allowAsProps": true
			}
		],
		"react/jsx-props-no-spreading": [
			2,
			{
				"html": "ignore",
				"custom": "ignore",
				"explicitSpread": "ignore",
				"exceptions": [""]
			}
		]
	},
	// =====================================================
	// Nadpisanie zasad dla konkretnych plików/grup plików
	// =====================================================
	"overrides": [
		{
			"files": "", // [] - które definiujemy tutaj. Np. wszystkie pliki TS
			"rules": {} // {} - same reguły nadpisujemy tutaj
		},
		{
			"files": ["**/*.stories.*"],
			"rules": {
				"import/no-anonymous-default-export": 0,
				"react/jsx-props-no-spreading": 0
			}
		}
	]
}
